<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet/less" href="./styles.less" /> -->
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <ul class="position">
            <li>
                <a href="#">{{weather}}</a>
                <i></i>
            </li>
            <li>
                <a href="#">{{country}}</a>
                <i></i>
            </li>
            <li>
                <a href="#">{{province}}</a>
                <i></i>
            </li>
            <li>
                <a href="#" @click="getCityWeather">{{city}}</a>
            </li>
        </ul>
        <div class="info-wrapper">
            <div class="wea">
                <span class="temp">{{condition.temp}}</span>
                <img src="../../img/fore-icon/w1.png" alt="多云">
                <span class="condition">{{condition.condition}}</span>
            </div>
            <div class="about">
                <span class="humidity">湿度{{condition.humidity}}%</span>
                <span class="wind">{{condition.windDir}}{{condition.windLevel}}级</span>
            </div>
            <div class="tips">
                <span class="suggest">今日天气提示</span>
                <span class="suggestion">{{condition.tips}}</span>
            </div>
        </div>
        <div class="forecast clearfix">
            <div class="fore-title">
                <span @click="getForecast">预报</span>
                <ul class="fore-nav">
                    <li>
                        <a href="#">7天预报</a>
                    </li>
                    <li>
                        <a href="#">10天预报</a>
                    </li>
                    <li>
                        <a href="#">15天预报</a>
                    </li>
                </ul>
            </div>
            <div v-for="day in threeDays">
                <ul class="fore-body clearfix">
                    <li>
                        <a href="#">今天</a>
                    </li>
                    <li>
                        <img src="../../img/fore-icon/w1.png" alt="">{{day.conditionDay}}</li>
                    <li>{{day.tempNight}}/{{day.tempDay}}</li>
                    <li>
                        <em>{{day.windDirDay}}</em>
                        <b>{{day.windLevelDay}}级</b>
                    </li>
                    <li>
                        <strong>19 优</strong>
                    </li>
                </ul>

            </div>

        </div>

        <div class="hours">
            <div class="hours-title">
                <span @click="getHours">24小时预报</span>
                <ul class="hours-nav">
                    <li>
                        <a href="#">温度</a>
                    </li>
                    <li>
                        <a href="#">风力</a>
                    </li>
                </ul>
            </div>
            <div class="hours-body">
                <div class="temp-chart">
                    <!-- <div class="prev"></div> -->
                    <!-- <div class="next"></div> -->
                    <div id="tempChart" style="width:1000px; height:300px;"></div>
                </div>


                <div class="wind-chart" style="display: none;"></div>
            </div>
        </div>

        <div class="live">
            <div class="live-title">
                <span @click="getLive">生活指数</span>
            </div>
            <ul class="live-body clearfix">
                <li class="live-body-item" v-for="index in liveIndex">
                    <img src="../../img/live-icon/car.png" alt="">
                    <dl>
                        <dt>{{index.status}}</dt>
                        <dd>{{index.name}}</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="calendar">
            <div class="cal-title">
                <span>天气日历</span>
            </div>
            <div class="cal-title clearfix">
                <ul>
                    <li>星期日</li>
                    <li>星期一</li>
                    <li>星期二</li>
                    <li>星期三</li>
                    <li>星期四</li>
                    <li>星期五</li>
                    <li>星期六</li>
                </ul>
            </div>
            <ul class="cal-body clearfix">
                <li class="cal-body-item" v-for="day in fifteenDays">
                    <em>01</em>
                    <img src="../../img/fore-icon/w1.png" alt="">
                    <p>{{day.tempNight}}/{{day.tempDay}}</p>
                    <p>{{day.windDirDay}}&nbsp;&nbsp;{{day.windLevelDay}}级</p>
                </li>
            </ul>

        </div>

    </div>
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="../../vendor/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./index.js"></script>
    <script>
        (function () {
            var myChart = Highcharts.chart('tempChart', {
                chart: {
                    backgroundColor: 'rgba(0, 0, 0, 0.3)',
                    type: 'line',
                },
                title: {
                    text: '24小时预报',
                    style: {
                        color: '#ffffff'
                    }
                },
                xAxis: {
                    labels: {
                        style: {
                            color: '#fff'
                        },
                    },
                    categories: ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    labels: {
                        style: {
                            color: '#fff'
                        },
                    },
                    floor: 10,
                    ceiling: 30,
                    gridLineColor: 'rgba(0, 0, 0, 0)'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    },
                    series: {
                        color: '#fff'
                    }
                },
                legend: {
                    itemStyle: {
                        color: '#ffffff',
                        fontWeight: 'bold'
                    }
                },
                credits: {
                    enabled: false // 禁用版权信息
                },
                series: [{
                    name: '',
                    colors: ['red'],
                    data: (function () {
                        var data = [],
                            i;
                        for (i = 0; i < 24; i = i + 1) {
                            data.push(i);
                        }
                        return data;
                    }())
                }]
            });
        })();</script>

</body>

</html>