*{
    margin: 0;
    padding: 0;
    color: #fff;
}
* li{
    list-style: none;
}
* a{
    text-decoration: none;
}
body {
    background:url('../img/day_1.jpg');
    color:#fff;
}
.clearfix::after{
    clear: both;
    content: '';
    display: block;
}

/* 城市选择 */

.position li{
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

.position li a {
    border: 1px solid #fff;
    border-radius:5px; 
    padding: 0 10px;
    
}

.position li i{
    background:url('../img/icon/right.png');
    display: inline-block;
    width: 16px;
    height:16px;
}

/* 温度详情 */
.info-wrapper{
}

.info-wrapper .temp{
    font-size: 170px;
    position: relative;
}
.info-wrapper .temp::before{
    position: absolute;
    top:18px;
    right: -40px;
    content: '。';
    font-size: 48px;

}
.info-wrapper img{
    margin-bottom: -20px;
}

.info-wrapper .condition{
    font-size: 30px;
}
.info-wrapper .about{
    font-size: 20px;
    margin-bottom: 25px;
}
.info-wrapper .humidity{
    background: url('../img/wea_icon/i_water.png') no-repeat left top;
    padding: 0 0 0 35px;

}

.info-wrapper .wind{
    margin-left: 35px;
    background: url('../img/wea_icon/i_wind.png') no-repeat left top;
    padding: 0 0 0 35px;

}

.info-wrapper .suggest{
    padding: 4px 14px;
    background: rgba(0, 0, 0, .3);
    border-radius: 14px;
}

.info-wrapper .suggestion{
    padding: 0 10px;
}

/* 预报表格 */
.forecast{
    width: 755px;
    background: rgba(0, 0, 0, .3);
    margin: 20px 0;
}

.forecast .fore-title{
    height: 46px;
}
.forecast .fore-title span{
    margin: 0 0 0 20px;
    line-height: 46px;
}
.forecast .fore-title .fore-nav{
    margin: 0 20px 0 0;
    float: right;
}
.forecast .fore-title .fore-nav li{
    float: left;
    margin: 11px 0 0 12px;
    padding: 0 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    
    height: 24px;
    line-height: 24px;
}
.forecast .fore-title .fore-nav li a{
    color: rgba(255, 255, 255, .7);
}
.fore-body{
    padding: 0 25px 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    height: 58px;
    line-height: 58px;
}
.fore-body li{
    float: left;
}
.fore-body li:nth-child(1){
    width: 112px;
}
.fore-body li:nth-child(2){
    width: 164px;
}
.fore-body li:nth-child(3){
    width: 142px;
}
.fore-body li:nth-child(4){
    width: 102px;
}
.fore-body li:nth-child(5){
    float: right;
}

.fore-body li a{
    padding: 2px 4px;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    color: rgba(255, 255, 255, .7);
} 
.fore-body img{
    max-width: 28px; 
    max-height: 28px;
    margin: 0 10px -5px 0;
}

.fore-body li em{
    font-style: normal;
}

.fore-body li b{
    float: right;
    font-weight: normal;
}

.fore-body li strong{
    padding: 2px 10px;
    font-weight: normal;
    border-radius: 13px;
    background-color: #8fc31f;
}
